:root{
    --cor-principal: #03495D;
    --cor-fundo: rgb(187, 200, 202);
}

html,body {
    min-height: 100%;
}

body {
    background-color: rgb(187, 200, 202);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-block-size: 100vh;
    display: flex;
    flex-direction: column;
}

.inicio {
    color: white;
}

.inicio:hover {
    color: #c2c2c2
}

.pesquisa {
    background-color: white;
}

.cabecalho {
    background: linear-gradient(90deg, #0D7B87, var(--cor-principal));
}

.titulo-apresentacao {
    color:#032529;
}

.texto-apresentacao {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(23, 124, 131);
    font-weight: 600; 
}

.botao-cadastro {
    background-color: white;
    border: 1px solid #012327;
}

.botao-cadastro:hover {
    background-color: #c2c2c2;
    border: none;
}

.botao-comecar {
    background-color: #03495D;
    border: 1px solid White;
}

.botao-comecar:hover {
    background-color: #ffffff;
    color: black;
}

.botao-conhecer {
    background-color: #ffffff;
    border: 1px solid #03495D;
}

.caixa-logo {
    height: 400px;
    background-color: whitesmoke;
    border-radius: 24px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid #03495D;
}

footer {
    margin-top: auto;
    padding: 20px;
}
